*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.productos .card {
  background: var(--color-secundario);
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.productos .card:hover {
  transform: translateY(-10px);
}

.productos .card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.productos .card-body {
  padding: 10px;
}

.productos .card-title {
  font-size: 20px;
  color: var(--color-primario);
  text-align: center;
}

.productos .card-text {
  font-size: 16px;
  color: var(--color-texto);
  text-align: center;
}

.productos .card-description {
  font-size: 14px;
  color: var(--color-texto);
  text-align: justify;
  margin: 10px 0;
}

.productos .card-price {
  font-size: 18px;
  color: var(--color-primario);
  font-weight: bold;
  text-align: center;
}

.productos .card-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.productos .card-button button {
  font-size: 16px;
  color: white;
  background-color: var(--color-primario);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.productos .card-button button {
  background: var(--color-primario);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productos .card-button button:focus {
  outline: none;
}
.productos .card-button button:hover {
  background: darken(var(--color-primario), 10%);
}

.btn-neon {
  font-size: 18px;
  padding: 12px 28px;
  border-radius: 50px;
  border: none;
  background: #ff007f;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.6s ease forwards;
}

.btn-neon:hover {
  box-shadow: 0 0 20px #ff007f, 0 0 40px #ff007f;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 576px) {
  .productos .card-img-top {
    height: 140px;
  }
}

@media (max-width: 600px) {
  #btn-finalizar {
    left: 85% !important; /* centrado */
    transform: translate(-50%, -50%) !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #btn-finalizar {
    left: 90% !important;
    transform: translate(-50%, -50%) !important;
  }
}
