<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <!-- 🖼 Logo a la izquierda -->
    <div class="navbar-logo">
      <a id="logo-link" class="d-flex align-items-center text-decoration-none">
        <img  id="navbar-logo" src="/static/img/logos/icon192.png" alt="Logo Firstp">
      </a>
    </div>

    <!-- 📝 Título centrado -->
    <div class="navbar-title text-center flex-grow-1">
      <h2 class="mb-0 text-white"><span id="nombre-marca">FirstP</span></h2>
    </div>

    <!-- 📚 Menú a la derecha -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/src/descripcion.html">Quienes somos</a></li>
        <!-- solo al admin -->
        <li id="salir-item" class="nav-item">
          <a class="nav-link text-danger" href="index.html" id="cerrar-sesion">Cerrar sesión</a>
        </li>


      </ul>
    </div>

  </div>
</nav>